<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t("export_settings", :scope => :google_base) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to Spree.t("new_export_location", :scope => :google_base), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_export_location' } %>
    </li>
  </ul>
<% end %>

<% if @export_locations.any? %> 
  <table class="index" id='listing_export_locations' data-hook>
    <colgroup>
      <col style="width: 40%" />
      <col style="width: 45%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="tax_header">
        <th>Name</th>
        <th>Hostname</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @export_locations.each do |export_location| %>
        <tr id="<%= spree_dom_id export_location %>" data-hook="country_row" class="<%= cycle('odd', 'even')%>">
          <td><%= export_location[:name] %></td>
          <td><%= export_location[:hostname] %></td>
          <td class="actions">
            <%= link_to_edit export_location, :no_text => true %> &nbsp;
            <%= link_to_delete export_location, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <i><%= Spree.t("no_export_locations", :scope => :google_base) %></i>
<% end %>